/**
 * Scroller Component Demo for tingle
 * @auther gbk
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
body
    background-color #ddd

    .demo
        margin 20px
        border 1px solid #999
        padding 10px
        > div
            padding 5px
        button
            margin 0 10px
